<html>
    <head>

    </head>
<body>
    <nav>
        <h4>MediCare</h4>
        <ul>
            <li><a href="/">Home</a></li>    
            <li><a href="/my-appointments" >My Appointments</a></li>
            <li><a href="/spec">Specialist</a></li>
            <li><a href="/pharmacy">Pharmacy</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</body>
</html>