<html>
    <head>

    </head>
<body>
    <nav>
        <h4>MediCare</h4>
        <ul>
            <li><a href="/">Home</a></li>    
            <li><a href="/register">Register</a></li>      
            <li><a href="/login">Login</a></li>
            
        </ul>
    </nav>
</body>
</html>