<html>
    <head>
        <title>Specialist Info</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="../public/style.css">
    </head>
    <body  class="specBody">
      <%- include('partials/header.ejs') %>
        <div style="margin-left: 3cm;">
        <div  class="card" style="width: 21rem;margin-right: 1cm; margin-left: 8cm; margin-top: 2cm; float: left;">
            <img style="height: 5cm;" class="card-img-top" src="../public/medicine_524556844_1000.jpg" alt="Card image cap">
            <div style="height: 2cm; margin-left: 60px;" class="card-body">
              <a href="/book-appointment" class="btn btn-primary">My medication</a>
            </div>
          </div>
          &nbsp;
          <div  class="card" style="width: 21rem;margin-right: 1cm; margin-left: 1cm; margin-top: 2cm; float: left;">
            <img style="height: 5cm;" class="card-img-top" src="../public/Your-Local-PharmaChoice-Pharmacy.webp" alt="Card image cap">
            <div style="height: 2cm;  margin-left: 100px;" class="card-body">
              <a href="/pharmacy/list" class="btn btn-primary">Visit Store</a>
            </div>
          </div>
          
          </div>
        
    </body>
</html>